h1{
    text-align: left;
    color: blueviolet;
}
h2{
    background-color: rgb(40, 0, 151);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
p{
    font-size: 20px;
}
a{
    font-size: 30px;
    padding: 10px;
}
nav a:hover{
    color: rgb(233, 45, 217);
}
#columna1{
    top:0px;
    left:0px;
    width:200px;
    margin-top:10px;
    background-color:#ffff55;
}
#columna2{
    margin-left:220px;
    margin-right:20px;
    margin-top:10px;
    background-color:#ffffbb;
}